/* CSS STYLE SHEET */

body {
    margin: auto;
    padding: 0px;
    padding-top: 25px;
    text-align: center;
}

#container {
    height: 80%;
    width: 470px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    color: black;
    padding-bottom: 5px;
    margin: auto;
    font-family: Impact, Sans-Serif;
    text-align: center;
    font-size: 50px;
}

p {
    font-size: 25px;
    font-family: Impact, sans-serif;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
}

.button {
    font-size: 20px;
    font-family: Impact, sans-serif;
    color: #FFFFFF;
    height: 40px;
    background-color: #000000;
    border: none;
    margin-bottom: 5px;
    text-align: center;
}

.sudoku {
    font-size: 10px;
    font-family: Impact,sans-serif;
    height: 18px;
    background-color: #cc99ff;
    border: none;
    margin: 2px;
    text-align: center;
    border: 1px solid #4d0099;
}

table {
    border: 1px solid black;
    max-height: 350px;
    max-width: 350px;
}

tr {
    min-height: 30px;
    min-width: 30px;
}

tc {
    min-height: 30px;
    min-width: 30px;
}

.button:hover {
    color: #cc99ff;
}
